@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto')

@mixin ffmain
  font-family: 'Roboto', sans-serif

@mixin fftitle
  font-family: 'Montserrat', sans-serif
  font-weight: bold
  text-transform: uppercase
  font-size: 3rem
  letter-spacing: 3px