extends layouts/main
block pageTitle
		-var pageTitle = 'Фото-Тур - Будапешт'

block vars
	// header
	-var headerClass = 'header header--budapesht'
	-var navItems = ['Будапешт', 'Вена', 'Прага']
	-var navHref = ['./index.html', './vien.html', './praha.html']
	-var navClass = ['header__link header__link--active', 'header__link', 'header__link']

	//vizitka
	-var Welcome = 'Добро пожаловать в'
	-var City = 'Будапешт'
	-var ItIs = 'Это столица Венгрии'
	-var IMG = '../../img/budapesht/main.jpg'
	-var Description = 'Визитная карточка Будапешта - здание венгерского парламента. Первое заседание Государственного собрания прошло в нем в 1896 году. Для его возведения потребовалось 40 миллионов кирпичей и 40 килограммов золота.'

	//galery
	-var CityGalery = '#Будапешт'
	-var images = ['../../img/budapesht/galery1.jpg', '../../img/budapesht/galery2.jpg', '../../img/budapesht/galery3.jpg', '../../img/budapesht/galery4.jpg', '../../img/budapesht/galery5.jpg', '../../img/budapesht/galery6.jpg']

block header
	include sections/header

block content
	include sections/hero
	include sections/vizitka
	include sections/articleBudapesht
	include sections/galeryBuda

block footer
	include sections/footer
