extends layouts/main
block pageTitle
    -var pageTitle = 'Фото-Тур - Прага'

block vars
    // header
    -var headerClass = 'header header--praha'
    -var navItems = ['Будапешт', 'Вена', 'Прага']
    -var navHref = ['./index.html', './vien.html', './praha.html']
    -var navClass = ['header__link', 'header__link', 'header__link header__link--active']

    //vizitka
    -var Welcome = 'Вас приветствует'
    -var City = 'Прага'
    -var ItIs = 'Это столица Чехии'
    -var IMG = '../../img/praha/main.jpg'
    -var Description = 'Карлов мост (чеш. Karlův most) — средневековый мост в Праге через реку Влтаву, соединяющий исторические районы Мала Страна и Старое Место. Длина моста 520 м, ширина — 9,5 м. Его украшают тридцать скульптур, преимущественно религиозного содержания.'

    //excursion
    -var excursionClass = 'excursion__title excursion__title--praha'
    -var excursionTitle = 'Заказать экскурсию по ночной праге сейчас'
    -var excursionIMG = '../../img/praha/excursion.jpg'

    //galery
    -var CityGalery = '#Прага'
    -var images = ['../../img/praha/galery1.jpg', '../../img/praha/galery2.jpg', '../../img/praha/galery3.jpg', '../../img/praha/galery4.jpg', '../../img/praha/galery5.jpg']

block header
    include sections/header

block content
    include sections/hero
    include sections/vizitka
    include sections/articlePraha
    include sections/excursion
    include sections/galery

block footer
    include sections/footer
