extends layouts/main
block pageTitle
    -var pageTitle = 'Фото-Тур - Вена'

block vars
    // header
    -var headerClass = 'header header--vien'
    -var navItems = ['Будапешт', 'Вена', 'Прага']
    -var navHref = ['./index.html', './vien.html', './praha.html']
    -var navClass = ['header__link', 'header__link header__link--active', 'header__link']

    //vizitka
    -var Welcome = 'Вас приветствует'
    -var City = 'Вена'
    -var ItIs = 'Это столица Австрии'
    -var IMG = '../../img/vien/main.jpg'
    -var Description = 'Шенбрунн прекрасное место, достойное посещения. Богатый дворец и огромный, прекрасный парк с роскошными аллеями и цветочными клумбами. Здесь чувствуется атмосфера прошлых времен, а прогулки здесь прекрасный практически в любое время года.'

    //excursion
    -var excursionClass = 'excursion__title'
    -var excursionTitle = 'Заказать экскурсию сейчас'
    -var excursionIMG = '../../img/vien/excursion.jpg'

    //galery
    -var CityGalery = '#Вена'
    -var images = ['../../img/vien/galery1.jpg', '../../img/vien/galery2.jpg', '../../img/vien/galery3.jpg', '../../img/vien/galery4.jpg', '../../img/vien/galery5.jpg']

block header
    include sections/header

block content
    include sections/hero
    include sections/vizitka
    include sections/articleVien
    include sections/excursion
    include sections/galery

block footer
    include sections/footer
