.budapesht
    .article
        .article__img
            img(src="../../img/budapesht/article1.jpg")
        .article__description
            .article__text Около 60 миллионов литров воды бурлит ежедневно в 118 источниках и скважинах Будапешта. Этот город спа-салонов предлагает различные ванны, начиная с бурлящих ванн Геллерта и обширных купален Сечени, построенных в 1913 году в стиле необарокко, до турецких бань XVI в., демонстрирующих оригинальность архитектурного стиля Османской империи. Венгрия, "Королева Дуная", очаровывает историей, культурой и красотой своей природы. Приготовьте фотоаппараты и камеры на подходе к римским руинам в Музее Аквинкум, площади Героев и Парку скульптур, а также к 100-метровой базилике Св. Стефана.
    .article
        .article__description
            .article__title СТОЛИЦА
            .article__text Будапешт — из тех городов, в которые хочется возвращаться. Широкий величественный Дунай, помпезные проспекты, напыщенная архитектура — все это вызывает уважение к столице Венгрии. В городе сохранились интересные постройки, которые насчитывают несколько столетий.
            .button.article__button Читать подробнее
        .article__img
            img(src="../../img/budapesht/article2.jpg")
