.vien
    .article
        .article__description
            .article__title ДОСТОПРИМЕЧАТЕЛЬНОСТИ ВЕНЫ
            p.article__text Вена – крупнейший культурно-исторический центр Европы. Город потрясает своей историей, самобытной архитектурой, величественными дворцами и площадями, театрами, выставками. Здесь творили Бетховен, Моцарт, Шуберт, Гайдн. Вена славится новогодними концертами и блистательным балом в Венской опере. Это город-музей, внесенный в список культурного наследия ЮНЕСКО.
            p.article__text Дворец Шёнбрунн (Schloß Schönbrunn) — самый крупный ансамбль в стиле австрийского барокко. Построен в XIV в. и служил основной летней резиденцией императорской династии Габсбургов. Во дворце насчитывается 1441 комната. Главными помещениями считаются Церемонный, Зеркальный и Большой залы, Большая и Малая галереи, комната Roesselzimmer, рабочий кабинет и спальня императора Франца Иосифа, комнаты императрицы Елизаветы. Территория дворца оформлена парком с фонтанами и скульптурами, павильоном с колоннадой и небольшим прудом. Здесь расположен самый старый в мире Шенбруннский зоопарк. Ансамбль включен в список всемирного наследия ЮНЕСКО.
            p.article__text Здание Венской ратуши было построено в 1883 г. в эклектическом стиле с использованием элементов неоренессанса, неоготики, неовизантийского и других стилей. Это представительство бургомистра и муниципалитета города. Общая площадь помещений ратуши 113 тыс. кв.м. Главный парадный зал имеет длину 71 и ширину 20 м, украшен скульптурами известных горожан. На вершине центральной башни здания установлена скульптура стража ратуши высотой 3,5 м. Помещения используются для проведения балов, концертов, выставок. Таких мероприятий в течение года проходит около 800.
            .button.article__button Читать подробнее
        .article__pictures
            .article__img
                img(src="../../img/vien/article1.jpg")
            .article__img
                img(src="../../img/vien/article2.jpg")
            .article__img
                img(src="../../img/vien/article3.jpg")