.praha
    .article-box
        .article
            .article__img
                img(src='../../img/praha/article1.jpg')
            .article__description
                p Прагу можно описывать бесконечно. Это один из крупнейших городов Центральной Европы и многовековая столица Богемии. Это мосты, соборы, позолоченные башни и церковные купола, отражающиеся в водах Влтавы уже более 10 столетий. Это почти не пострадавший во время Второй мировой средневековый центр с мощеными улицами и двориками, бесчисленными шпилями и лавочками.
        .article
            .article__img
                img(src='../../img/praha/article2.jpg')
            .article__description
                p Впервые ступив на землю Праги, едва осмотревшись, путешественник понимает — это первое свидание с городом будет не единственным. Оказывается, мало пробежаться по центру и отметиться фотовспышкой у главных достопримечательностей. При ближайшем рассмотрении выясняется, что по улицам чешской столицы можно бродить бесконечно, и каждый раз глазам будет открываться что-то новое, мимо чего так жаль пройти мимо.
    .button.article__button Читать подробнее