-var socialItems = ['vk', 'instagram', 'facebook', 'twitter']
-var socialLinks = ['vk.com', 'instagram.com', 'facebook.com', 'twitter.com']

footer.footer
    .footer__contacts
        p.footer__text
            span Наши контакты:
            br
            span Омск, пр.Мира 12, офис.711
            br
            span 8(800)600 33 77
            br
            span travel_photo_sightseeing@gmail.com
    .footer__social
        each item, key in socialItems
            a.footer__link(href='http://'+socialLinks[key] target="_blank")
                i(class='icon icon-'+item)
                    span.visually-hidden=item