.galery
    .galery__title Фотогалерея
    .galery__subtitle #{CityGalery}
    ul.galery__wrapper.galery__wrapper--twolines
        each item in images
            li.galery__picture.galery__picture--twolines
                img(src=item)
    .galery__link
        a(href="#") Узнать подробнее
    .galery__big