.galery
    .galery__title Фотогалерея
    .galery__subtitle #{CityGalery}
    ul.galery__wrapper
        each item in images
            li.galery__picture
                img(src=item)
    .galery__link
        a(href="#") Узнать подробнее
    .galery__big