header(class=headerClass)
    nav.header__nav
        ul.header__list
            each item, key in navItems
                li.header__list-item
                    a(class=navClass[key] href=navHref[key])= item
        .button Напишите нам
    .header__main
        p.header__travel travel
        h1.header__title Фото-тур
        p.header__subtitle по городам восточной Европы
        .button.header__button Заказать сейчас