.vizitka
    p.vizitka__welcome #{Welcome}
    h2.vizitka__title #{City}
    p.vizitka__subtitle #{ItIs}
    .vizitka__picture
        img.vizitka__img(src=IMG)
        p.vizitka__description #{Description}