.praha
  padding: 10px 0 80px
  .article-box
    display: flex
    justify-content: space-around

  .article
    width: 48%
    padding: 20px 0
    &__img
      text-align: center
      img
        width: 95%
    &__description
      text-align: center
      padding-top: 30px
      line-height: 1.25
    &__button
      +centerer-x()