.vien
  padding: 20px
  .article
    display: flex
    justify-content: space-around

    &__description
      width: 45%

    &__title
      +fftitle()
      text-align: center
      letter-spacing: 1px
      font-size: 1.8rem

    &__text
      padding: 20px 5px 20px 10px
      text-align: center
      line-height: 1.25

    &__button
      text-align: center
      width: 50%
      margin: 0 auto

    &__pictures
      width: 40%
      display: flex
      flex-direction: column
      justify-content: flex-end

    &__img
      width: 100%
      padding-bottom: 10px
      img
        width: 100%