.budapesht
  padding: 40px
  .article
    display: flex
    justify-content: space-around
    margin-bottom: 20px

    &__img
      width: 45%
      img
        width: 100%

    &__description
      width: 45%
      text-align: center
      display: flex
      flex-direction: column
      justify-content: space-around
      font-size: 1.1rem
      line-height: 1.25

    &__title
      +fftitle()

    &__button
      width: 50%
      margin: 0 auto
