.excursion
  width: 100%
  position: relative
  text-align: center

  &__img
    width: 100%
    height: auto

  &__title
    +centerer-xy()
    +fftitle()
    color: #ffffff
    margin: 0 auto
    width: 100%
    &--praha
      top: 80px
      background-color: rgba(0, 0, 0, 0.4)

  &__button
    +centerer-x()
    bottom: 30px