.footer
  background: url(../../img/footer.jpg) no-repeat #777777
  background-size: cover
  display: flex

  &__contacts
    width: 45%
    text-align: center
    padding: 20px
    color: #ffffff
    line-height: 1.25

  &__social
    width: 55%
    display: flex
    padding: 20px 10%
    justify-content: space-around
    align-items: center

  &__link
    display: block
    height: 50px
    width: 50px
