.galery
  position: relative
  &__title
    +fftitle()
    text-align: center
    padding: 20px

  &__subtitle
    text-align: center
    font-size: 1.4rem
    color: #777777
    padding-bottom: 20px
  &__wrapper
    display: flex
    justify-content: space-around
    &--twolines
      flex-wrap: wrap

  &__picture
    width: 18%
    padding-bottom: 20px
    img
      width: 100%
    &--twolines
      width: 30%

  &__link
    text-decoration: underline
    text-align: center
    padding-bottom: 20px
    a
      color: #777777

.galery__big
  transition: all 0.5s
  +centerer-xy()
  transform: translate(-50%, -50%) scale(0)
  width: 50%
  background-color: #fff
  border: 4px solid #2751cc
  img
    display: block
    width: calc(100% - 4px)
    margin: 2px 2px

  &--show
    transform: translate(-50%, -50%) scale(1)



