.header
  height: 100vh
  color: white
  &__nav
    padding: 20px
    display: flex
    flex-direction: row
    justify-content: space-between
  &__list
    display: flex
    &-item
      padding: 0 20px
  &__link
    color: white
    text-shadow: 1px 1px gray
    transition: all .5s
    &--active,
    &:hover
      color: #285cf1


  &__main
    height: calc(100vh - 100px)
    position: relative
    text-align: center

  &__travel
    margin: 40px auto 0
    +fftitle()
    font-size: 1rem
  &__title
    +fftitle()
    margin: 80px auto

  &__button
    +centerer-x()
    bottom: 50px

  &--budapesht
    background: fixed url('../../img/budapesht/header.jpg') no-repeat #777777
    background-size: cover

  &--vien
    background: fixed url('../../img/vien/header.jpg') no-repeat #777777
    background-size: cover

  &--praha
    background: fixed url('../../img/praha/header.jpg') no-repeat #777777
    background-size: cover

