.vizitka
  font-size: 1.4rem
  text-align: center

  &__welcome
    text-transform: uppercase
    color: #adadad
    padding: 30px 0

  &__title
    +fftitle()

  &__subtitle
    padding: 30px 0 40px

  &__picture
    width: 100%
    position: relative

  &__img
    width: 100%
    
  &__description
    position: absolute
    top: 20px
    right: 10px
    padding: 10px
    background-color: #fff
    width: 40%
    font-size: 1.2rem